<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true"
	>


<!-- employeeDao -->
<bean class="com.p1.dao.EmployeeMapDaoImpl" id="employeeDao">
</bean>

<!-- employeeService -->
<bean class="com.p1.service.EmployeeServiceImpl" id="employeeService">
<constructor-arg name="employeeDao"  ref="employeeDao"/>
</bean>

<!-- emsApp -->
<bean class="com.p1.presentation.EmsApp" id="emsApp"      >
<property name="employeeService"  ref="employeeService"/>
</bean>






</beans>
