<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="true"
	>


<bean id="e1" class="com.p1.Employee" lazy-init="true" scope="prototype">
<property name="eid" value="101"></property>
<property name="ename" value="Manisha"></property>
<property name="loc" value="Pune"></property>

</bean>

<!-- <bean id="e2" class="com.p1.Employee">
<property name="eid" value="102"></property>
<property name="ename" value="Sai"></property>
<property name="loc" value="Chennai"></property>

</bean>-->




</beans>
